#header_wrap {
  background: $font_color-base;
  border-bottom: solid 4px $color_brand;
  color: $color_light;
  padding: 15px 20px 13px 20px;
  h1 {
    font-size: $font_size-medium;
    margin-bottom: 0;
  }
  a {
    color: $color_light;
    text-decoration: none;
  }
}