/* Site header */

.site-header {
  background-color: $color_background-alt;
}

.site-title,
.site-title:hover,
.site-title:visited {
  color: #fff;
  @include font-size(16);
  font-weight: bold;
  float: left;
  padding: 14px 0 12px;
  position: relative;
  z-index: 1;

  &:hover {
    text-decoration: none;
  }
}





.site-nav {
  float: right;

  .menu-icon {
    display: none;
  }

  .page-link {
    @include transition(background 0.3s);
    display: inline-block;
    color: #fff;
    letter-spacing: -.5px;
    margin: 0;
    padding: 13px 10px 13px;

    &:hover,
    &.active {
      @include background-rgba(#ffffff, 0.3);
      text-decoration: none;
    }
  }
}





.page-heading {
  background: $color_brand;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}