/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}



html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}




/* Utility */

.container {
  @include clearfix;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  zoom: 1;
  .content {
    float: left;
    width: 75%;
    .no-subnav & {
      float: none;
      width: auto;
    }

    @media screen and (max-width: $breakpoint-smaller) {
      float: none;
      width: auto;
    }
  }
  .subnav {
    float: right;
    width: 20%;
  }
}

/* Floats
/* ----------------------------------------------------------*/
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}





/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 30px 0;
  background-color: #fff;
}


/* Home styles */
/* ----------------------------------------------------------*/

.home h1 { margin-bottom: 25px; }

.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 30px; }

.meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

.content { margin: 0 0 30px; }

.content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
  border-bottom: 1px solid $color_border;
}

.content h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

.content h4 {
  font-size: 20px;
  letter-spacing: -1px;
}

.content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.content ul,
.content ol { padding-left: 20px; }

.content pre,
.content code {
  @include border-radius(3px);
  font-size: 13px;
  background-color: #eee;
  padding: 8px 12px;
  line-height: 20px;
  overflow:scroll;
  font-family: monospace;
}

.content code { padding: 1px 5px; }

.content pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* terminal */
pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

pre.terminal code { background-color: #333; }





/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 750px) {

  .footer-col-1 { width: 50%; }

  .footer-col-2 {
    width: 45%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }

}

@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 6px;
    right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .menu-icon svg { width: 18px; height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    color: black;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }

  .post-header h1 { font-size: 36px; }
  .content h2 { font-size: 28px; }
  .content h3 { font-size: 22px; }
  .content h4 { font-size: 18px; }
  .content blockquote { padding-left: 10px; }
  .content ul,
  .content ol { padding-left: 10px; }

  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px; }

}
