/*------------------------------------*\
   SITE COLOURS
\*------------------------------------*/
$color_base: #333;
$color_base-light: #999;
$color_brand: #FF69B4;
$color_background-alt: #222;





/*------------------------------------*\
   FONT RELATED VARIABLES
\*------------------------------------*/
$font_family-base: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, 'Lucida Grande', sans-serif;
$font_size-base: 15;
$line_height-base: 25px;