/*------------------------------------*\
   SITE COLOURS
\*------------------------------------*/
$color_primary: #00a5ff;
$color_background-alt: #222;





/*------------------------------------*\
   FONT RELATED VARIABLES
\*------------------------------------*/
$font_family-base: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, 'Lucida Grande', sans-serif;
$font_size-base: 13;
$line_height-base: 18px;