/*------------------------------------*\
   SITE COLOURS
\*------------------------------------*/
$color_base: #333;
$color_base-light: #999;
$color_brand: #e44053;
$color_background-alt: #222;

$color_border: #ccc;

$color_light: #eee;





/*------------------------------------*\
   FONT RELATED VARIABLES
\*------------------------------------*/
$font_family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font_size-base: 15;
$line_height-base: 25px;





/*------------------------------------*\
   BREAKPOINTS
\*------------------------------------*/
$breakpoint-largest: 1281px; // large desktops - 1440 and up
$breakpoint-larger: 1236px; // header dt collapse point
$breakpoint-large: 1025px; // screens larger than a landscape tablet
$breakpoint-medium: 960px; // landscape tablets
$breakpoint-mid: 960px; // NOTE: this is the min breakpoint of non media query browsers
$breakpoint-small: 768px; // portrait tablets
$breakpoint-smaller: 767px; // phones
$breakpoint-xs: 480px;
$breakpoint-smallest: 320px; // phones
