/* MAIN
---------------------------------------- */
body {
  @include font-smoothing(antialiased);
  font-family: $font_family-base;
  @include font-size($font_size-base);
  font-weight: normal;
  line-height: $line_height-base;
}

.content p {
  margin-bottom: $font_size-base+px;
  margin-top: 0;
}




/* SIMPLE GLOBAL STYLES
---------------------------------------- */
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}





/* HEADINGS
---------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  position: relative;
}

.page-title {
  @include font-size(60);
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 10px;
}


/* HEADER LINKS */
.header-link {
  @include font-size(18);

  position: absolute;
  left: -20px;
  bottom: 15px;
  opacity: 0;

  @include transition(opacity 0.2s ease-in-out 0.1s);
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}





/* LINKS
---------------------------------------- */
a {
  color: $color_brand;
  text-decoration: none;

  &:hover,
  &:active {
    color: darken($color_brand, 10%);
    text-decoration: underline;
  }
}





/* LINES
---------------------------------------- */
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}





/* HEADINGS
---------------------------------------- */
.page-description {
  @include font-size(24);
  line-height: 1.4;
}