body {
  background: $color_light;
  color: $font_color-light;
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: $font_size-base;
  line-height: $line_height-base;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.container {
  padding: 40px 20px;
  .row {
    margin: 0 auto;
    max-width: 980px;
    width: 100%;
  }
}