<!DOCTYPE html>
<html>

  {% include head.html %}

    <body class="has-subnav">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MQ6D6QD" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        {% include header.html %}

    <div class="page-content">
      <div class="container">
        <div id="page">
          {{ content }}
          <div class="subnav">
            <ul class="nav submenu">
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>